/* Define variables for reusability */
:root {
    --primary-color: #007BFF;
    --hover-color: #0056b3;
    --background-color: white;
    --text-color: black;
}

/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-bar, .main-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.top-bar {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-navigation, .heading-text, .sidebar, #viz-specific-options {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: 20px;
}

.nav-button {
    font-size: 24px;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-button:hover {
    color: var(--hover-color);
}

.heading-text, .sidebar {
    box-sizing: border-box;
}

.heading-text {
    text-align: center;
}

.sidebar {
    flex-direction: column;
    margin-bottom: 20px;
}

.sidebar h3 {
    margin: 0 0 15px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}

.sidebar select, .option select, .option input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    background-color: var(--background-color);
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.visualization-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    height: 800px;
}

.visualization {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
}

div.tooltip {
    position: absolute;
    padding: 8px;
    background: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 3px;
    pointer-events: none;
    font-size: 12px;
    z-index: 1000;
}

.option {
    margin-bottom: 10px;
}

.option label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
